.hero {
  display: flex;
  background-color: #1F2937;
  padding: 5% 10%;
  justify-content: center;
}
.hook {
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 40%;
}

.hook h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.hook p {
  margin: 4px 0px 8px 0px;
}

.signup {
  background-color: #3882F6;
  color: #E5E7EB;
  min-height: 32px;
  min-width: 128px;
  border-radius: 6px;
  padding: 4px;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6d747d;
  flex-basis: 40%;
}

.nav-links {
  display:flex;
  list-style-type: none;
  gap: 16px;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 8px 10% 5% 10%;
}

.information h2 {
  margin: 16px 0px 8px 0px;
  font-size: 36px;
  flex-basis: 100%;
  text-align: center;
  color: #1F2937;
}

.info-container {
  display:flex;
  flex-direction: column;
  flex-basis: 12%;
  margin: 0 12px;
}
.info-container p {
  color: #1F2937;
}

.image-box {
  min-height: 160px;
  border: solid #3882F6 4px;
  border-radius: 10%;
}

.quote-container {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 128px 64px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight:200;
  color: #1F2937;
  margin: 0;
  max-width: 50%;
  align-self: center;
}

.quote-author {
  margin: 0;
  padding: 0 0 0 65%;
}

.action-call-container {
  display: flex;
  justify-content: center;
  margin: 64px 0;
}

.action-call-content {
  display: flex;
  flex-direction: row;
  flex-basis: 60%;
  justify-content: center;
  align-items: center;
  gap: 10%;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 48px 0;
  border: solid #3882F6 2px;
  
  
}

.action-call-text h3 {
  margin: 0;
  font-size: 36px;
  color: #E5E7EB;
}

.action-call-text p {
  margin: 0;
}

.action-call-content .signup {
  border: solid white 3px;
  min-height: 48px;
  flex-basis: 15%;
}

.action-call-text {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

header {
  display: flex;
  background-color: #1F2937;
  justify-content: space-around;
}

header h2 {
  font-size: 24px;
  color:#F9FAF8;
  margin: 8px 0 0 0;
}

p, ul{
  font-size: 18px;
  color: #E5E7EB;
}
